html,body{
	padding:0;
	margin:0;
}
body {
  background-color: #FFFFFF;
}
aside {
	background-color: white;
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px black;
    font-style: italic;
    color: black;
}

div.important {
  text-align: center;
}
*{
	font-family: Arial;
}
aside > p {
	
    margin: .5rem;
}
h1 {
  color: #ff9e00;
  margin-left: 20px;
}
h2 {
	color: #ff9e00;
	margin-left:20px;
}
h3 {
	color: #ff9e00;
	margin-left:20px;
}
li {
  font-size: 10px;
}
p{
  text-indent: 40px;
  margin-left: 20px;
  margin-right: 20px;
    }
	ol{
		list-style-type:disc;
		margin-left: 35px;
  margin-right: 35px;
	}
.notfound{
	text-align:center;
	font-size:60px;
}
.blue{
	color:DarkBlue;
}	
	ul{
		margin-left: 35px;
  margin-right: 35px;
	}
	
.topnav {
  background-color: #0874b4;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ff9e00;
  color: black;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
